@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

/* General */

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

p,
ul,
h1 {
  margin: 0;
  padding: 0;
}

button {
  color: #f9faf8;
  border-radius: 5px;
  font-weight: bold;
  padding: 6px 16px;
}

/* Page layout */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  background-color: #1f2937;
}

section.testimonial {
  background-color: #e5e7eb;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
}

header div {
  width: 1000px
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.bottom .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

p.hero-main-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

p.hero-sub-text {
  color: #e5e7eb;
}

header button {
  background-color: #3882f6;
  border-style: none;
}

p.image-placeholder {
  background-color: #e5e7eb;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Information */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
  gap: 36px;
}

.info h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.cards {
  display: flex;
  width: 800px;
  /* justify-content: center; */
  /* align-items: flex-end; */
  /* gap: 50px; */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /* width: 120px; */
}

.card-placeholder {
  border-style: solid;
  border-color: #3882f6;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

.caption {
  text-align: center;
}

/* Testimonial */

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.testimonial div {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.author {
  font-weight: bold;
  text-align: end;
}

/* Call to action */

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  padding: 36px;
}

.banner {
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  padding: 50px 100px;
}

.call-to-action h1 {
  font-size: 24px;
}

.call-to-action button {
  background-color: transparent;
  border-style: solid;
  border-color: #f9faf8;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

footer p {
  color: #e5e7eb;
}